* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #675afe;
}
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #685afed3;
  padding-inline: 0.5rem;
}
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 7px;
  font-weight: 500;
  text-align: center;
  max-width: 320px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.container__heading {
  font-weight: 500;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  margin: 0;
}
form {
  margin-top: 1.5rem;
}
form :where(button, input, select) {
  width: 100%;
  outline: none;
  border: none;
}
.form__input {
  border: 1px solid #999;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
.form__input:focus {
  border-color: #675afe;
}
label {
  display: block;
  text-align: start;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}
.form__drop-list {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 0.9rem;
}
.drop-list__select-box {
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  gap: 5px;
  padding: 8px;
}
.drop-list__select-box select {
  font-size: 1rem;
  background-color: transparent;
}
.form__icon i {
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.3rem;
  opacity: 0.98;
}
.form__icon i:hover {
  opacity: 1;
}
.form__exchange-rate {
  margin: 1.3rem 0 1.1rem 0;
  font-size: clamp(0.8rem, 3vw, 1rem);
}
.form__submit {
  padding-block: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.4s;
  background-color: #675afe;
  color: #fff;
  transition: 0.3s;
}
.form__submit:hover {
  opacity: 0.8;
}
.form__latest-update {
  text-align: left;
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: #777;
}
@media screen and (max-width: 500px) {
  .form__drop-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    gap: 0.8rem;
  }
  .form__drop-list > div {
    width: 100%;
  }
}
